In [2]:
#import library
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\bwink\Downloads\Achievement 4'

In [4]:
ords_prods_merged = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ord_prods_merged_agg_loyalty.pkl'))

In [5]:
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_day_of_the_week,...,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,NaN,10,0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,9.0,11,1,both,Mid-range product,Least busy,Least busy days,Average Orders,3,New customer

In [6]:
# mean of order number by dept id ENTIRE DATAFRAME
ords_prods_merged.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## Only a few id's had easily noticeable changes in order_number mean. It is important to note that depending on which entries are included in the subset, the mean can be noticeably less representative of the entire dataframe

## -Loyalty Flag column already created

# making spending flag

In [7]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [8]:
ords_prods_merged['mean_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [9]:
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_day_of_the_week,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,10,0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,11,1,both,Mid-range product,Least busy,Least busy days,Average Orders,3,New customer,4.972414

In [10]:
ords_prods_merged.loc[ords_prods_merged['mean_price'] >= 10, 'spending_flag'] = 'High Spender'

In [11]:
ords_prods_merged.loc[ords_prods_merged['mean_price'] < 10, 'spending_flag'] = 'Low Spender'

In [12]:
ords_prods_merged['spending_flag'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_flag, dtype: int64

In [13]:
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_day_of_the_week,...,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811,Low Spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer,6.935811,Low Spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low Spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,0,both,Mid-range product,Regularly busy,Least busy days,Most Orders,3,New customer,4.972414,Low Spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,1,both,Mid-range product,Least busy,Least busy days,Average Orders,3,New customer,4.972414,Low Spender

# user purchasing behaviour flag

In [14]:
ords_prods_merged['median_days'] = ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [15]:
ords_prods_merged.loc[ords_prods_merged['median_days'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [19]:
ords_prods_merged.loc[(ords_prods_merged['median_days'] <= 20) & (ords_prods_merged['median_days'] > 10), 'frequency_flag'] = 'Regular customer'

In [20]:
ords_prods_merged.loc[(ords_prods_merged['median_days'] <= 10), 'frequency_flag'] = 'Frequent Customer'

In [21]:
ords_prods_merged['frequency_flag'].value_counts(dropna = False)

Frequent Customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [22]:
ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,order_day_of_the_week,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,prior,28,6,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent Customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,prior,30,6,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer,6.935811,Low Spender,8.0,Frequent Customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,prior,2,0,...,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low Spender,8.0,Frequent Customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,prior,1,3,...,Mid-range product,Regularly busy,Least busy days,Most Orders,3,New customer,4.972414,Low Spender,9.0,Frequent Customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,prior,3,4,...,Mid-range product,Least busy,Least busy days,Average Orders,3,New customer,4.972414,Low Spender,9.0,Frequent Customer

In [23]:
ords_prods_merged.to_pickle(os.path.join(path, 'Data', 'Prepared Data', 'ords_prods_merged_customer_flags.pkl'))